@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Indie Flower', cursive;
    --fonte3: 'Josefin Sans', sans-serif; 
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100%;
    background-color: beige;
}

header {
    background-color: chocolate;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte1);
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section.normal {
    background-color: white;
    color: brown;
    padding: 5px;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2.5vw;
}

section.normal > p {
    display: inline-block;
    width: 48vw;
    background-color: rgba(247, 207, 170, 0.774);
    border-radius: 8px;
    padding: 30px 10px;
    margin: 20px 0px 20px 0px;
    text-shadow: 1px 1px 0px black;
}

section.imagem {
    background-color: rgb(247, 237, 156);
    color: chocolate;
    background-size: cover;
    background-attachment: fixed;
    padding: 5vh 5vh 5vh 25vh;
    line-height: 1em;
    font-family: var(--fonte3);
    font-size: 2.5vw;
}

section.imagem > p {
    display: inline-block;
    width: 48vw;
    background-color: rgba(247, 207, 170, 0.774);
    border-radius: 8px;
    padding: 30px 10px;
    margin: 20px 0px 20px 0px;
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('imagens/machupicchu.jpg');
    background-position: bottom center;
}

section#img02 {
    background-image: url('imagens/arcdetriomphe.jpg');
    background-position: center top ;
}

section#img03 {
    background-image: url('imagens/cristo.jpg');
    background-position: center center;
}

section#img04 {
    background-image: url('imagens/kyotogosho.jpg');
}

section#img05 {
    background-image: url('imagens/ilhadapascoa.jpg');
}

footer {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 10px;
}